<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <!-- Here we iterate through all the plants for that garden -->
    <!-- @plants is assigned in the gardens controller -->
    <% @plants.each do |plant| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
          <%= plant.name %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-4">
      <!-- This is our form to create a new plant -->
      <h4>Add a plant</h4>
      <!-- We need @garden here to know which garden the plant belongs to -->
      <!-- This gives us this action in the form 'gardens/:garden_id/plants' -->
      <!-- This will take us to the create method in the plants controller -->
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name, placeholder: "Palm tree" %>
        <%= f.input :image_url, placeholder: "https://some_nice_image_found_on_google.jpg" %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
